.container_vote {
    /* Variables */
    --vote-bg-clr: var(--very-light-gray);
    --vote-score-clr: var(--moderate-blue);
    --vote-score-weight: var(--fw-medium);
    --score-font-family: var(--ff);

    padding: .75rem 1rem;
    background-color: var(--vote-bg-clr);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 6.25rem;
    border-radius: .75rem;
    max-height: 6.25rem;
    /* Grid positioning */
    grid-row: 3;
    grid-column: 1;
}

.vote_plus,
.vote_minus {
    aspect-ratio: 1/1;
    background-color: transparent;
    padding: 0;
    border: 0;
}

.vote_plus {
    margin-inline-end: auto;
}

.vote_minus {
    margin-inline-start: auto;
}

.vote_score {
    font-family: var(--score-font-family);
    line-height: 1;
    color: var(--vote-score-clr);
    font-weight: var(--vote-score-weight);
}

@media screen and (min-width: 768px) {
    .container_vote {
        width: 2.5rem;
        padding: .75rem;
        flex-direction: column;
        gap: 1.25rem;
        /* Grid positioning */
        grid-row: 1/4;
        grid-column: 1;
    }

    .vote_plus,
    .vote_minus {
        margin: 0;
    }

    .vote_minus:hover,
    .vote_plus:hover {
        filter: brightness(0) invert(36%) sepia(14%) saturate(3827%) hue-rotate(208deg) brightness(89%) contrast(86%);
        cursor: pointer;
    }
}